body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:url('./images/wall.jpg') ;
}

h1 {
    position: absolute;
    font-family: Alegreya, serif;
    font-style: oblique;
    font-size: 80px;
    margin: 0 200px;
    text-decoration: underline ;
}

h1.shadow {
    left: 200px;
    top: 20px;
    color: rgb(15, 107, 6);
}

h1.heading {
    left: 195px;
    top: 22px;
    color: rgb(49, 13, 148);
}

img {
    position: absolute;
    display: inline-block;
    width: 200px;
    left: 480px;
    top: 225px;
    background-color: rgb(137, 160, 152);
    border: rgb(78, 70, 87) 5px solid;
    border-radius: 500px;
    z-index: 0;
}

t {
    font-family: cursive;
    margin: 100px 0 0 90px;
    position: absolute;
    font-size: 72px;
    color: rgb(129, 42, 7);
    left: 480px;
    top: 225px;
    z-index: 1;
}

.ht {
    transform: translate(210px, 0);
}

.ft {
    transform: translate(370px, 135px);
}

.bs {
    transform: translate(106px, 180px);
}

.sc {
    transform: translate(-160px, 135px);
}

.hh {
    transform: translate(-190px, -80px);
}

.rc {
    transform: translate(-310px, 60px);
}

.cc {
    transform: translate(400px, -80px);
}